{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
	<h3>Tem&aacute;tica del Hackaton</h3>

<p>Consiste en un clone de hackerrank, donde cinta negra Front-end, Cinta Negra Backend y Cinta Roja unan sus fuerzas para lograr el objetivo.</p> 
<p>Para esta versi&oacute;n de hackaton, todas las cintas tienen un rol espec&iacute;fico que desempe&ntilde;ar.</p> 

<h4>Requisitos fundamentales</h4> 

<blockquote>
<p>Todos los equipos deben ser lo m&aacute;s mixtos posibles, de esta manera hay gente de todas las cintas trabajando juntas.</p>
<p>Todos deben tener un Repo en github donde van subir el c&oacute;digo.</p> 
<p>En el Readme del repo deben escribir como hacer funcionar el Repo y como lo organizaron.</p> 
<p>Los senseis anunciar&aacute;n al equipo ganador por Slack el lunes 13 de noviembre.</p> 
</blockquote>

<h4>Roles</h4>

<p>Los roles a desempe&ntilde;ar son los siguientes:</p>
<blockquote>
	<ul>
		<li>- Los chicos de cinta negra Front-end se encargar&aacute;n de hacer una interfaz donde se presentar&aacute; el problema y recibir&aacute;n la respuesta en un textbox, las respuestas no son en c&oacute;digo solo lo que imprima el algoritmo</li> 
		<li>- Los chicos de cinta negra Backend se van a encargar o de crear endpoints donde de manera aleatoria impriman en formato Json los problemas o a trav&eacute;s de templates</li> 
		<li>- Los chicos de cinta roja se encargar%aacute;n de construir los algoritmos que validen los inputs de los usuarios seg&uacute;n el problema</li>
	</ul>
</blockquote>

<h4>Integrantes:</h4>

<blockquote>
	<ul>
		<li>Devf.mx</li>
	</ul>
</blockquote>  
    
{% endblock content %}